#menuScreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    transition: 1000ms linear opacity;
    opacity: 1;
    z-index: 999;
    --title-left-offset: 20vw;
    overflow: hidden;
}

#titleContainer {
    position: absolute;
    top: 35vh;
    left: 0px;
    width: 100vw;
    transition: 1500ms cubic-bezier(0.5, 0, 0.5, 1) transform;
}
#t_redpixel {
    position: absolute;
    top: 0vh;
    left: var(--title-left-offset);
    width: 30vh;
    height: 30vh;
    background-color: red;
    transition: none;
    transform-origin: center right;
    transform: translateX(calc(-10px - 30vh - var(--title-left-offset))) scale(2);
    box-shadow: 0px 0px 3vh rgba(255, 0, 0, 0.7);
}
#t_textRed, #t_textPixel, #t_textSimulator {
    position: absolute;
    left: calc(var(--title-left-offset) + 1vw + 30vh);
    font-family: "Lucida Console", Lucida, monospace;
    font-size: 10vh;
    font-weight: bold;
    color: white;
    padding-top: 0.5vh;
    transition: none;
    transform: translateX(calc(100vw - 30vh - var(--title-left-offset)));
    text-shadow: 0px 0px 5vh rgba(255, 255, 255, 0.5), -0.5vh 0.5vh 0vh rgba(255, 255, 255, 0.2);
}
#t_textRed {
    top: 0vh;
}
#t_textPixel {
    top: 10vh;
}
#t_textSimulator {
    top: 20vh;
}

#sandboxButton, #puzzleButton {
    position: absolute;
    left: 35vw;
    width: 30vw;
    height: 8vh;
    font-size: 4vh;
    border: 1vh outset gold;
    background-color: goldenrod;
    transition: 1500ms cubic-bezier(0.2, 0.2, 0, 1) transform;
    transform: none;
}
#sandboxButton:active, #puzzleButton:active {
    border-style: inset;
}
#sandboxButton {
    top: 100vh;
}
#puzzleButton {
    top: 114vh;
}

#levelSelect {
    position: absolute;
    bottom: 110vh;
    left: 20vw;
    width: 60vw;
    height: 80vh;
    background-color: #EFEFEF;
    border: 4px solid black;
    transition: 500ms ease-in-out transform;
}
#levelSelectClose {
    position: absolute;
    top: -14px;
    right: -14px;
    width: 40px;
    height: 40px;
    line-height: 10px;
    background-color: red;
    border-color: crimson;
}
#levelSelectTitle {
    width: 100%;
    height: 8vh;
    margin-top: 2vh;
    text-align: center;
    font-size: 8vh;
    font-weight: bold;
}

.levelGroup {
    width: 100%;
    text-align: center;
}
.levelButton {
    width: 100px;
}

#t_top, #t_bottom {
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 50vh;
    background-color: #282828;
    transition: 300ms ease-in transform;
}
#t_top {
    top: -60vh;
}
#t_bottom {
    top: 110vh;
}
#t_loadingContainer {
    position: absolute;
    left: 50vw;
    bottom: -8vh;
    height: 16vh;
    transform: translateX(-50%);
}
#t_loadingRedpixel {
    display: inline-block;
    width: 16vh;
    height: 16vh;
    margin-right: 1vh;
    background-color: red;
    box-shadow: 0px 0px 1vh rgba(255, 0, 0, 0.7);
}
#t_loadingText {
    display: inline-block;
    height: 16vh;
    font-family: "Lucida Console", Lucida, monospace;
    font-size: 8vh;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 5vh rgba(255, 255, 255, 0.5), -0.5vh 0.5vh 0vh rgba(255, 255, 255, 0.2);
    vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
    #levelSelect {
        background-color: #333;
        border-color: white;
    }
}