#menuScreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    transition: 1000ms linear opacity;
    opacity: 1;
    z-index: 999;
    --title-left-offset: 20vw;
    overflow: hidden;
}

#titleContainer {
    position: absolute;
    top: 35vh;
    left: 0px;
    width: 100vw;
    transition: 1500ms cubic-bezier(0.5, 0, 0.5, 1) transform;
}
#t_redpixel {
    position: absolute;
    top: 0vh;
    left: var(--title-left-offset);
    width: 30vh;
    height: 30vh;
    background-color: red;
    transition: none;
    transform-origin: center right;
    transform: translateX(calc(-10px - 30vh - var(--title-left-offset))) scale(2);
    box-shadow: 0px 0px 3vh rgba(255, 0, 0, 0.7);
}
#t_textRed, #t_textPixel, #t_textSimulator {
    position: absolute;
    left: calc(var(--title-left-offset) + 1vw + 30vh);
    font-family: "Lucida Console", Lucida, monospace;
    font-size: 10vh;
    font-weight: bold;
    padding-top: 0.5vh;
    transition: none;
    transform: translateX(calc(100vw - 30vh - var(--title-left-offset)));
    text-shadow: 0px 0px 5vh rgba(255, 255, 255, 0.5), -0.5vh 0.5vh 0vh rgba(255, 255, 255, 0.2);
}
#t_textRed {
    top: 0vh;
}
#t_textPixel {
    top: 10vh;
}
#t_textSimulator {
    top: 20vh;
}

#t_bottom, #t_top {
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 50vh;
    background-color: #282828;
    transition: 300ms ease-in transform;
}
#t_bottom {
    top: 100vh;
}
#t_top {
    top: -50vh;
}
/*
#t_bottom::before, #t_top::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 5vh;
    background-color: #505050;
}
#t_bottom::after, #t_top::after {
    content: '';
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 1vh;
}
#t_bottom::before, #t_bottom::after {
    top: 0px;
}
#t_top::before, #t_top::after {
    bottom: 0px;
}
#t_bottom::after {
    background-color: #E0E0E0;
}
#t_top::after {
    background-color: #C0C0C0;
}
*/

#sandboxButton, #challengeButton {
    position: absolute;
    left: 35vw;
    width: 30vw;
    height: 8vh;
    font-size: 4vh;
    border: 1vh outset gold;
    background-color: goldenrod;
    transition: 1500ms cubic-bezier(0.2, 0.2, 0, 1) transform;
    transform: none;
}
#sandboxButton:active, #challengeButton:active {
    border-style: inset;
}
#sandboxButton {
    top: 100vh;
}
#challengeButton {
    top: 114vh;
    cursor: not-allowed;
    opacity: 0.5;
}
#challengeButton:active {
    border-style: outset;
}