.p5Canvas {
    position: absolute;
    top: 8px;
    left: 8px;
    border: 2px solid black;
}
body {
    --max-sidebar-width: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    user-select: none;
    word-wrap: break-word;
    scroll-snap-type: y mandatory;
}
body::-webkit-scrollbar {
    width: 0px;
}

main {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: var(--max-sidebar-width);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    user-select: none;
}

button {
    margin: 4px 4px;
    padding: 4px 4px;
    font: 16px Arial;
    font-weight: bolder;
    border: 5px outset #AAAAAA;
    cursor: pointer;
}
button:active {
    border-style: inset;
}

#gameControls {
    width: 100%;
}
#pause {
    background-color: lime;
}
#simulatePaused {
    background-color: red;
}

#pixelPicker {
    border: 2px solid black;
    padding-bottom: 8px;
    padding-right: 2px;
    margin-top: 8px;
    margin-right: 8px;
    text-align: justify;
}
.pickerPixel {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 6px;
    margin-left: 6px;
    margin-bottom: 2px;
    margin-right: 2px;
    border: 2px solid transparent;
    transition: 50ms linear transform;
    cursor: pointer;
}
.pickerPixel:hover {
    border-color: black;
    transform: translateY(-5px);
}
.pickerPixelSelected {
    margin-top: 4px;
    margin-left: 3.5px;
    margin-bottom: 0px;
    margin-right: 0px;
    border: 4px solid gold;
}
.pickerPixelSelected:hover {
    border-color: gold !important;
}
#pixelPickerDescription {
    border: 2px solid black;
    border-top: none;
    padding: 8px 8px;
    margin-right: 8px;
    height: min-content;
    text-align: justify;
    transition: 0.5s ease height;
}

#saveCode {
    margin-top: 10px;
    width: 100%;
    min-height: 100px;
    max-height: 500px;
    resize: vertical;
}
#reset {
    width: 100px;
    height: 40px;
    background-color: red;
}
#copySave {
    width: 140px;
    height: 60px;
    background-color: lime;
}
#startPaused {
    width: 100px;
    height: 60px;
    background-color: red;
}

#optimizedLiquids, #fadeEffect {
    margin-left: unset;
    font-size: 12px;
    border-width: 3px;
}
#optimizedLiquids {
    background-color: red;
}
#fadeEffect {
    background-color: lime;
}

b {
    /* background-color: beige; */
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px 2px;
}
table {
    border-collapse: collapse;
}
td {
    border: 2px solid black;
    padding: 2px 4px;
    overflow-wrap: break-word;
    max-width: calc(var(--max-sidebar-width) - 48px);
    vertical-align: top;
}
.save {
    font-weight: lighter;
}

#controls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 600px;
    max-height: calc(100vh - 680px);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333333;
        color: white;
    }
    b, td {
        border-color: white;
    }
    #pixelPicker {
        border-color: white;
    }
    #pixelPickerDescription {
        border-color: white;
    }
    .pickerPixel:hover {
        border-color: white;
    }
}