@font-face {
    font-family: 'Source Code Pro';
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800;
    font-style: normal;
    src: url(/assets/SourceCodePro.ttf) format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800;
    font-style: italic;
    src: url(/assets/SourceCodePro-Italic.ttf) format('truetype');
}

.p5Canvas {
    display: none;
}
body {
    --canvas-size: min(100vw, 100vh);
    --max-sidebar-width: calc(100vw - var(--canvas-size));
    font-family: 'Source Code Pro', Courier, monospace;
    font-size: 14px;
    user-select: none;
    word-wrap: break-word;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 0px;
}

::selection {
    background-color: #F55;
}

img {
    -webkit-user-drag: none;
    image-rendering: pixelated;
}

button {
    margin: 4px 4px;
    padding: 4px 4px;
    font: 16px Arial;
    font-weight: 600;
    background-color: lightgray;
    border: 5px outset #AAAAAA;
    cursor: pointer;
}
button:active {
    border-style: inset;
}
button:disabled {
    color: initial;
    background-color: gray;
    cursor: not-allowed;
}
button:disabled:active {
    border-style: outset;
}
*:disabled {
    cursor: not-allowed;
}
.toggle {
    position: relative;
    bottom: 4px;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.toggleInput {
    opacity: 0px;
    width: 0px;
    height: 0px;
}
.toggleSlider {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 36px;
    height: 16px;
    background-color: #EE0000;
    border: 1px solid black;
    transition: 0.1s linear;
    cursor: pointer;
}
.toggleSlider::before {
    position: absolute;
    top: -4px;
    left: 0px;
    width: 24px;
    height: 24px;
    content: '';
    background-color: darkgrey;
    transition: 0.1s linear;
    transform: translateX(-4px);
}
.toggleInput:checked + .toggleSlider {
    background-color: #00AA00;
}
.toggleInput:checked + .toggleSlider::before {
    transform: translateX(16px);
}

p {
    line-height: 18px;
}
b {
    /* background-color: beige; */
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px 2px;
}
a {
    color: black;
}
h {
    font-weight: bold;
}
table {
    border-collapse: collapse;
}
.tableBorders td {
    border: 2px solid black;
    padding: 2px 8px;
    overflow-wrap: break-word;
    max-width: calc(var(--max-sidebar-width) - 48px);
    vertical-align: top;
}

#modalContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 300ms linear opacity;
    backdrop-filter: blur(4px);
    pointer-events: none;
    z-index: 1000;
}
#modal {
    position: fixed;
    bottom: 100vh;
    left: calc(25vw - 20px);
    width: 50vw;
    padding: 4px 16px;
    border: 4px solid black;
    background-color: lightgray;
    text-align: center;
    transition: 400ms ease-in-out transform;
}
#modalSubtitle {
    font-size: 16px;
}
#modalYes {
    width: 100px;
    background-color: lime;
}
#modalNo {
    width: 100px;
    background-color: red;
}
#modalYes {
    width: 100px;
    background-color: lime;
}
#modalOk {
    width: 100px;
    background-color: lightgray;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: white;
    }

    a {
        color: white;
    }

    .toggleSlider {
        border-color: white;
    }
    .toggleSlider::before {
        background-color: white;
    }

    b {
        border-color: white;
    }
    .tableBorders td {
        border-color: white;
    }

    #modal {
        background-color: #333;
        border-color: white;
    }
}