.p5Canvas {
    display: none;
}
body {
    --max-sidebar-width: 600px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    user-select: none;
    word-wrap: break-word;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 0px;
}

img {
    -webkit-user-drag: none;
    image-rendering: pixelated;
}

#canvasContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
#canvas {
    position: absolute;
    top: 8px;
    left: 8px;
    border: 2px solid black;
    /* image-rendering: pixelated; */
    cursor: none;
}

#sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: var(--max-sidebar-width);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    user-select: none;
}

button {
    margin: 4px 4px;
    padding: 4px 4px;
    font: 16px Arial;
    font-weight: bolder;
    background-color: lightgray;
    border: 5px outset #AAAAAA;
    cursor: pointer;
}
button:active {
    border-style: inset;
}
.toggle {
    position: relative;
    bottom: 4px;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.toggleInput {
    opacity: 0px;
    width: 0px;
    height: 0px;
}
.toggleSlider {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 36px;
    height: 16px;
    background-color: #EE0000;
    border: 1px solid #FFFFFF;
    transition: 0.1s linear;
    cursor: pointer;
}
.toggleSlider::before {
    position: absolute;
    top: -4px;
    left: 0px;
    width: 24px;
    height: 24px;
    content: "";
    background-color: darkgrey;
    transition: 0.1s linear;
    transform: translateX(-4px);
}
.toggleInput:checked + .toggleSlider {
    background-color: #00AA00;
}
.toggleInput:checked + .toggleSlider::before {
    transform: translateX(16px);
}

p {
    line-height: 18px;
}
b {
    /* background-color: beige; */
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px 2px;
}
a {
    color: black;
}
h {
    font-weight: bold
}
table {
    border-collapse: collapse;
}
.tableHighlight td {
    border: 2px solid black;
    padding: 2px 8px;
    overflow-wrap: break-word;
    max-width: calc(var(--max-sidebar-width) - 48px);
    vertical-align: top;
}

#levelName {
    border: 2px solid black;
    padding: 8px 8px;
    margin-top: 8px;
    margin-right: 8px;
    text-align: justify;
    font-size: 24px;
    font-weight: bold;
}
#levelDescription {
    border: 2px solid black;
    border-top: none;
    padding: 8px 8px;
    margin-right: 8px;
    text-align: justify;
    font-size: 16px;
    line-height: 18px;
}

#pixelPicker {
    border: 2px solid black;
    padding-bottom: 8px;
    padding-right: 2px;
    margin-top: 8px;
    margin-right: 8px;
    text-align: justify;
}
.pickerPixel {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 6px;
    margin-left: 6px;
    margin-bottom: 2px;
    margin-right: 2px;
    border: 2px solid transparent;
    transition: 50ms linear transform;
    cursor: pointer;
}
.pickerPixel:hover {
    border-color: black;
    transform: translateY(-5px);
}
.pickerPixelSelected {
    margin-top: 4px;
    margin-left: 3.5px;
    margin-bottom: 0px;
    margin-right: 0px;
    border: 4px solid gold;
}
.pickerPixelSelected:hover {
    border-color: gold !important;
}
.pickerCount {
    position: absolute;
    bottom: 0px;
    right: 2px;
    pointer-events: none;
}
.pickerNoPixels {
    opacity: 0.5;
}
#pixelPickerDescription {
    border: 2px solid black;
    border-top: none;
    padding: 8px 8px;
    margin-right: 8px;
    text-align: justify;
}

#gameControls {
    width: 100%;
}
#sizeUp, #sizeDown {
    width: 42px;
    height: 40px;
    font-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
#sizeUp {
    background-image: url(/assets/sizeUp.svg);
}
#sizeDown {
    background-image: url(/assets/sizeDown.svg);
}
#simulateSlowLabel {
    font-size: 18px;
    margin-left: 8px;
}
#pause, #fastSimulation, #advanceTick {
    width: 100px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}
#pause {
    background-color: lime;
    background-image: url(/assets/play.svg);
}
#fastSimulation {
    background-color: gray;
    background-image: url(/assets/simulate.svg);
}
#advanceTick {
    background-image: url(/assets/advanceTick.svg);
}

#saveCode {
    margin-top: 10px;
    width: calc(100% - 8px);
    min-height: 150px;
    max-height: 500px;
    resize: vertical;
    word-wrap: break-word;
    word-break: break-all;
}
#generateSave, #uploadSave, #downloadSave {
    width: 100px;
    height: 50px;
    font-size: 12px;
}
#downloadSave {
    margin-right: 12px;
}
#reset, #restart {
    width: 100px;
    height: 40px;
    background-color: red;
}
#backToMenu {
    width: 100px;
    height: 40px;
}
#gridSizeLabel {
    margin-top: 8px;
    margin-left: 8px;
    font-size: 18px;
}
#gridSize {
    margin-top: 8px;
    font-size: 18px;
}
#noNoise, #fadeEffect, #changeResolution {
    margin-left: unset;
    font-size: 12px;
    border-width: 3px;
}
#noNoise {
    background-color: red;
}
#fadeEffect {
    background-color: lime;
}
.save {
    font-weight: lighter;
}
.loadSave {
    font-size: 12px;
    border-width: 3px;
    font: 14px Arial;
    padding: 2px 4px;
    background-color: lime;
}

#controlsTable td:nth-child(1) {
    text-align: right;
}

#winScreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #FFF5;
    opacity: 0;
    transition: 300ms linear opacity;
    pointer-events: none;
}
#winBox {
    position: absolute;
    top: 30vh;
    left: 0px;
    width: 100vw;
    text-align: center;
    transition: 500ms ease-in-out transform;
    transform: translateY(-50vh);
}
#winText {
    color: black;
    font-family: "Lucida Console", Lucida, monospace;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 24px;
}
#winReset, #winNext, #winMenu {
    font-size: 18px;
    width: 120px;
    height: 40px;
    background-color: white;
}

#modalContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0005;
    opacity: 0;
    transition: 300ms linear opacity;
    pointer-events: none;
    z-index: 1000;
}
#modal {
    position: fixed;
    bottom: 100vh;
    left: 25vw;
    width: 50vw;
    padding: 4px 16px;
    border: 4px solid black;
    background-color: lightgray;
    text-align: center;
    transition: 400ms ease-in-out transform;
}
#modalSubtitle {
    font-size: 16px;
}
#modalYes {
    width: 100px;
    background-color: lime;
}
#modalNo {
    width: 100px;
    background-color: red;
}
#modalYes {
    width: 100px;
    background-color: lime;
}
#modalOk {
    width: 100px;
    background-color: lightgray;
}

#highPing {
    display: none;
    position: fixed;
    top: 0vh;
    left: calc(40vw - 12px);
    width: 20vw;
    background-color: rgba(100, 100, 100, 0.8);
    border: 4px solid yellow;
    padding: 8px 8px;
    text-align: center;
    z-index: 999;
    pointer-events: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: white;
    }

    a {
        color: white;
    }

    .toggleSlider::before {
        background-color: white;
    }

    b, #levelName, #levelDescription, #pixelPicker, #pixelPickerDescription, .pickerPixel:hover {
        border-color: white;
    }
    .tableHighlight td {
        border-color: white;
    }

    #winScreen {
        background-color: #0008;
    }
    #winText {
        color: white;
    }

    #modal {
        background-color: #333;
        border-color: white;
    }
}